.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
}
/*----------------------HEADER----------------------------*/
.body {
  background: #ffffff;
}

.logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #2e2f42;
}

.header-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;

  color: #2e2f42;
}
.header-list-item:hover,
.header-list-item:focus {
  color: #404bbf;
}
.header-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
}
.header-mail:hover,
.header-mail:focus {
  color: #404bbf;
}
.header-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
}
.header-tel:hover,
.header-tel:focus {
  color: #404bbf;
}
/*-------------------ODER-------------------------------*/
.oder {
  background: #2e2f42;
}
.oder-head {
  font-weight: 700;
  font-size: 56px;
  line-height: calc(60 / 56);
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.oder-head-button {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}
.oder-head-button:hover,
.oder-head-button:focus {
  background: #404bbf;
  color: #ffffff;
}

/*-------------------SECTION------------------------------*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section-list-item-head {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: #434455;
}
/*-------------------DEVICE------------------------------*/

.device-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/*-------------------TEAM------------------------------*/
.team {
  background: #f4f4fd;
}
.team-item {
  background: #ffffff;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-work {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
}
/*-------------------FOOTER------------------------------*/
.footer {
  background: #2e2f42;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.logo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/*---------------------CSS-PORTFOLIO--------------------------*/

/*-----------------------BUTTON-------------------------*/
.button-head {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
}
.button-head:hover,
.button-head:focus {
  color: #ffffff;
  background: #404bbf;
}

/*-------------------DEVICE------------------------------*/
.head {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
}
.device-list-item {
  background: #ffffff;
}
