.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
}
/*----------------------HEADER----------------------------*/
.header {
}
.navigation {
}
.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #2e2f42;
}
.header-list {
}
.header-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;

  color: #2e2f42;
}
.header-list-item:hover,
.header-list-item:focus {
  color: #404bbf;
}

.header-address {
}
.header-address-list {
}
.header-address-item {
}
.header-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
}
.header-mail:hover,
.header-mail:focus {
  color: #404bbf;
}
.header-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
}
.header-tel:hover,
.header-tel:focus {
  color: #404bbf;
}
/*-------------------FOOTER------------------------------*/
.footer {
  background: #2e2f42;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.link {
}
.logo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
